@keyframes animate {
  0% {
    opacity: 1;
    transform: scale(0) translateY(0) rotate(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translateY(-90px) rotate(360deg);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
body {
  color: #f0efeb;
  font-family: Montserrat;
}
body nav {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  font-weight: 500;
  background-color: #A37D87;
  letter-spacing: 1px;
}
body nav a {
  color: white;
  height: 50px;
  padding: 0 20px 0 20px;
}
body nav a:hover {
  background-color: #7F6F7B;
  color: #41252A;
  text-decoration: none;
}
body nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body nav li {
  list-style: none;
  margin: 0;
}
body nav .bar {
  text-align: center;
  display: none;
}
body nav .ul-container {
  height: 100%;
}
body #about {
  scroll-behavior: smooth;
}

.greeting {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(45deg, #6D6875 0%, #6D6875 5%, #7F6F7B 5%, #7F6F7B 10%, #A37D87 10%, #A37D87 15%, #B5838D 15%, #B5838D 85%, #E5989B 85%, #E5989B 90%, #FFB4A2 90%, #FFB4A2 95%, #FFCDB2 95%);
}

.greeting-btn {
  box-shadow: 4px 5px 0px 0px #6d6875;
  background: #B5838D;
  border: 2px solid #41252A;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #E5989B;
}
.greeting-btn:hover {
  background-color: #41252A;
}
.greeting-btn:active {
  position: relative;
  top: 1px;
}

.full-height {
  height: 100vh;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  color: #41252A;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.arrow-down {
  animation: up-down 1s infinite linear;
  color: #41252A;
}
.arrow-down:hover {
  transform: scale(1.5);
  color: #ffffff;
}

.bg-elem {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  filter: blur(1px);
}
.bg-elem:nth-child(1) {
  border: 5px solid #ffcdb2;
  top: 12%;
  left: 32%;
  animation: animate 5s ease-in-out infinite;
}
.bg-elem:nth-child(2) {
  border: 5px solid #ffb4a2;
  top: 20%;
  left: 65%;
  animation: animate 10s ease-in-out infinite;
}
.bg-elem:nth-child(3) {
  border: 5px solid #A37D87;
  top: 67%;
  left: 17%;
  animation: animate 8s ease-in-out infinite;
}
.bg-elem:nth-child(4) {
  border: 5px solid #917681;
  top: 67%;
  left: 80%;
  animation: animate 12s ease-in-out infinite;
}
.bg-elem:nth-child(5) {
  border: 5px solid #7A7682;
  top: 90%;
  left: 50%;
  animation: animate 6s ease-in-out infinite;
}
.bg-elem:nth-child(6) {
  border: 5px solid #E8BAA2;
  top: 50%;
  left: 50%;
  animation: animate 9s ease-in-out infinite;
}

.arrow {
  display: inline-block;
  margin-top: 50px;
}

@media only screen and (max-width: 650px) {
  .ul-container {
    display: none;
    height: 50vh;
    background-color: #7F6F7B;
  }
  .ul-container ul {
    background-color: #6D6875;
    padding: 50px 0 50px 0;
    display: block !important;
  }
  .ul-container ul a {
    justify-content: center !important;
    padding: 40px 0 40px 0;
  }
  .ul-container ul a:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #ffffff;
    width: 40%;
    margin-top: 30px;
  }

  .bar {
    display: block !important;
  }
}
@media only screen and (min-width: 651px) {
  .ul-container {
    display: block !important;
  }
  .ul-container ul {
    display: flex !important;
  }
}